html {
  font-size: 18px; }

body {
  font-family: 'Monda', sans-serif !important; }

h1 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.3rem; }

p {
  font-size: 0.9rem; }

.banner {
  height: 14rem;
  background-size: cover;
  background-position: center;
  background-image: url(http://lorempixel.com/1920/600/people/);
  background-repeat: no-repeat;
  color: #fff; }
  .banner .banner-background {
    position: absolute;
    border-radius: 0.3rem;
    color: #fff;
    left: 3rem;
    right: 1rem;
    bottom: 1rem; }
  .banner .wrap {
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0.3; }

.footer {
  background-color: #449D44;
  color: #fff; }
  .footer .txt-footer {
    font-size: 0.7rem; }
  .footer .list-group li {
    font-size: 0.9rem; }

.navbar .logo {
  height: 2.5rem; }
.navbar .nav-link:hover {
  background-color: #fec503;
  border-radius: 0.5rem; }
.navbar .nav-item.active {
  /*background-color: #fec503;*/
  border-radius: 0.5rem; }

#contenido .titulo p {
  font-size: 1.6rem; }

@media (min-width: 576px) {
  html {
    font-size: 16px; } }
@media (min-width: 768px) {
  html {
    font-size: 17px; } }
@media (min-width: 992px) {
  html {
    font-size: 18px; } }
@media (min-width: 1200px) {
  html {
    font-size: 20px; } }


