{
  "name": "demo-bootstrap",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "source/bootstrap/scss/bootstrap.scss",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"css/bootstrap.css\",\"autoCompile\":false,\"sourceMap\":true,\"compiler-ruby-sass\":{\"enabled\":true,\"outputStyle\":\"nested\",\"lineNumbers\":true},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":true},\"outputSuffix\":null}"
    },
    {
      "path": "source/bootstrap-v4/scss/bootstrap.scss",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"css/bootstrap.css\",\"autoCompile\":false,\"sourceMap\":true,\"compiler-ruby-sass\":{\"enabled\":true,\"outputStyle\":\"nested\",\"lineNumbers\":false},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":true},\"outputSuffix\":null}"
    },
    {
      "path": "source/bootstrap-v4/js/bootstrap.js",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"js/bootstrap.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "source/tether/tether.js",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"js/tether.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "source/jquery/jquery-3.1.1.js",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"js/jquery.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "js/bootstrap.js",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"js/bootstrap.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "js/jquery.js",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"js/jquery.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "js/tether.js",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"js/tether.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "source/scripts.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/scripts.js\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "source/js/scripts.js",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"js/scripts.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "source/css/styles.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"css/styles.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-ruby-sass\":{\"enabled\":true,\"outputStyle\":\"nested\",\"lineNumbers\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false},\"outputSuffix\":null}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "source/bootstrap",
      "source/bootstrap/scss",
      "fonts",
      "source/bootstrap-v4/js",
      "source",
      "source/css"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "source/bootstrap-v4/scss/_mixins.scss",
      "imports": [
        "source/bootstrap-v4/scss/mixins/_breakpoints.scss",
        "source/bootstrap-v4/scss/mixins/_hover.scss",
        "source/bootstrap-v4/scss/mixins/_image.scss",
        "source/bootstrap-v4/scss/mixins/_badge.scss",
        "source/bootstrap-v4/scss/mixins/_resize.scss",
        "source/bootstrap-v4/scss/mixins/_screen-reader.scss",
        "source/bootstrap-v4/scss/mixins/_size.scss",
        "source/bootstrap-v4/scss/mixins/_reset-text.scss",
        "source/bootstrap-v4/scss/mixins/_text-emphasis.scss",
        "source/bootstrap-v4/scss/mixins/_text-hide.scss",
        "source/bootstrap-v4/scss/mixins/_text-truncate.scss",
        "source/bootstrap-v4/scss/mixins/_transforms.scss",
        "source/bootstrap-v4/scss/mixins/_visibility.scss",
        "source/bootstrap-v4/scss/mixins/_alert.scss",
        "source/bootstrap-v4/scss/mixins/_buttons.scss",
        "source/bootstrap-v4/scss/mixins/_cards.scss",
        "source/bootstrap-v4/scss/mixins/_pagination.scss",
        "source/bootstrap-v4/scss/mixins/_lists.scss",
        "source/bootstrap-v4/scss/mixins/_list-group.scss",
        "source/bootstrap-v4/scss/mixins/_nav-divider.scss",
        "source/bootstrap-v4/scss/mixins/_forms.scss",
        "source/bootstrap-v4/scss/mixins/_table-row.scss",
        "source/bootstrap-v4/scss/mixins/_background-variant.scss",
        "source/bootstrap-v4/scss/mixins/_border-radius.scss",
        "source/bootstrap-v4/scss/mixins/_gradients.scss",
        "source/bootstrap-v4/scss/mixins/_clearfix.scss",
        "source/bootstrap-v4/scss/mixins/_navbar-align.scss",
        "source/bootstrap-v4/scss/mixins/_grid-framework.scss",
        "source/bootstrap-v4/scss/mixins/_grid.scss",
        "source/bootstrap-v4/scss/mixins/_float.scss"
      ]
    },
    {
      "path": "source/bootstrap-v4/scss/_reboot.scss",
      "imports": [
        "source/bootstrap-v4/scss/bootstrap.scss",
        "source/bootstrap-v4/scss/_variables.scss",
        "source/bootstrap-v4/scss/_mixins.scss",
        "source/bootstrap-v4/scss/_custom.scss",
        "source/bootstrap-v4/scss/_normalize.scss",
        "source/bootstrap-v4/scss/_print.scss",
        "source/bootstrap-v4/scss/_type.scss",
        "source/bootstrap-v4/scss/_images.scss",
        "source/bootstrap-v4/scss/_code.scss",
        "source/bootstrap-v4/scss/_grid.scss",
        "source/bootstrap-v4/scss/_tables.scss",
        "source/bootstrap-v4/scss/_forms.scss",
        "source/bootstrap-v4/scss/_buttons.scss",
        "source/bootstrap-v4/scss/_transitions.scss",
        "source/bootstrap-v4/scss/_dropdown.scss",
        "source/bootstrap-v4/scss/_button-group.scss",
        "source/bootstrap-v4/scss/_input-group.scss",
        "source/bootstrap-v4/scss/_custom-forms.scss",
        "source/bootstrap-v4/scss/_nav.scss",
        "source/bootstrap-v4/scss/_navbar.scss",
        "source/bootstrap-v4/scss/_card.scss",
        "source/bootstrap-v4/scss/_breadcrumb.scss",
        "source/bootstrap-v4/scss/_pagination.scss",
        "source/bootstrap-v4/scss/_badge.scss",
        "source/bootstrap-v4/scss/_jumbotron.scss",
        "source/bootstrap-v4/scss/_alert.scss",
        "source/bootstrap-v4/scss/_progress.scss",
        "source/bootstrap-v4/scss/_media.scss",
        "source/bootstrap-v4/scss/_list-group.scss",
        "source/bootstrap-v4/scss/_responsive-embed.scss",
        "source/bootstrap-v4/scss/_close.scss",
        "source/bootstrap-v4/scss/_modal.scss",
        "source/bootstrap-v4/scss/_tooltip.scss",
        "source/bootstrap-v4/scss/_popover.scss",
        "source/bootstrap-v4/scss/_carousel.scss",
        "source/bootstrap-v4/scss/_utilities.scss",
        "source/bootstrap-v4/scss/mixins/_breakpoints.scss",
        "source/bootstrap-v4/scss/mixins/_hover.scss",
        "source/bootstrap-v4/scss/mixins/_image.scss",
        "source/bootstrap-v4/scss/mixins/_badge.scss",
        "source/bootstrap-v4/scss/mixins/_resize.scss",
        "source/bootstrap-v4/scss/mixins/_screen-reader.scss",
        "source/bootstrap-v4/scss/mixins/_size.scss",
        "source/bootstrap-v4/scss/mixins/_reset-text.scss",
        "source/bootstrap-v4/scss/mixins/_text-emphasis.scss",
        "source/bootstrap-v4/scss/mixins/_text-hide.scss",
        "source/bootstrap-v4/scss/mixins/_text-truncate.scss",
        "source/bootstrap-v4/scss/mixins/_transforms.scss",
        "source/bootstrap-v4/scss/mixins/_visibility.scss",
        "source/bootstrap-v4/scss/mixins/_alert.scss",
        "source/bootstrap-v4/scss/mixins/_buttons.scss",
        "source/bootstrap-v4/scss/mixins/_cards.scss",
        "source/bootstrap-v4/scss/mixins/_pagination.scss",
        "source/bootstrap-v4/scss/mixins/_lists.scss",
        "source/bootstrap-v4/scss/mixins/_list-group.scss",
        "source/bootstrap-v4/scss/mixins/_nav-divider.scss",
        "source/bootstrap-v4/scss/mixins/_forms.scss",
        "source/bootstrap-v4/scss/mixins/_table-row.scss",
        "source/bootstrap-v4/scss/mixins/_background-variant.scss",
        "source/bootstrap-v4/scss/mixins/_border-radius.scss",
        "source/bootstrap-v4/scss/mixins/_gradients.scss",
        "source/bootstrap-v4/scss/mixins/_clearfix.scss",
        "source/bootstrap-v4/scss/mixins/_navbar-align.scss",
        "source/bootstrap-v4/scss/mixins/_grid-framework.scss",
        "source/bootstrap-v4/scss/mixins/_grid.scss",
        "source/bootstrap-v4/scss/mixins/_float.scss",
        "source/bootstrap-v4/scss/utilities/_align.scss",
        "source/bootstrap-v4/scss/utilities/_background.scss",
        "source/bootstrap-v4/scss/utilities/_borders.scss",
        "source/bootstrap-v4/scss/utilities/_clearfix.scss",
        "source/bootstrap-v4/scss/utilities/_display.scss",
        "source/bootstrap-v4/scss/utilities/_flex.scss",
        "source/bootstrap-v4/scss/utilities/_float.scss",
        "source/bootstrap-v4/scss/utilities/_position.scss",
        "source/bootstrap-v4/scss/utilities/_screenreaders.scss",
        "source/bootstrap-v4/scss/utilities/_sizing.scss",
        "source/bootstrap-v4/scss/utilities/_spacing.scss",
        "source/bootstrap-v4/scss/utilities/_text.scss",
        "source/bootstrap-v4/scss/utilities/_visibility.scss"
      ]
    },
    {
      "path": "source/bootstrap-v4/scss/_utilities.scss",
      "imports": [
        "source/bootstrap-v4/scss/utilities/_align.scss",
        "source/bootstrap-v4/scss/utilities/_background.scss",
        "source/bootstrap-v4/scss/utilities/_borders.scss",
        "source/bootstrap-v4/scss/utilities/_clearfix.scss",
        "source/bootstrap-v4/scss/utilities/_display.scss",
        "source/bootstrap-v4/scss/utilities/_flex.scss",
        "source/bootstrap-v4/scss/utilities/_float.scss",
        "source/bootstrap-v4/scss/utilities/_position.scss",
        "source/bootstrap-v4/scss/utilities/_screenreaders.scss",
        "source/bootstrap-v4/scss/utilities/_sizing.scss",
        "source/bootstrap-v4/scss/utilities/_spacing.scss",
        "source/bootstrap-v4/scss/utilities/_text.scss",
        "source/bootstrap-v4/scss/utilities/_visibility.scss"
      ]
    },
    {
      "path": "source/bootstrap-v4/scss/bootstrap-grid.scss",
      "imports": [
        "source/bootstrap-v4/scss/_variables.scss",
        "source/bootstrap-v4/scss/mixins/_clearfix.scss",
        "source/bootstrap-v4/scss/mixins/_breakpoints.scss",
        "source/bootstrap-v4/scss/mixins/_grid-framework.scss",
        "source/bootstrap-v4/scss/mixins/_grid.scss",
        "source/bootstrap-v4/scss/_custom.scss",
        "source/bootstrap-v4/scss/_grid.scss"
      ]
    },
    {
      "path": "source/bootstrap-v4/scss/bootstrap-reboot.scss",
      "imports": [
        "source/bootstrap-v4/scss/_variables.scss",
        "source/bootstrap-v4/scss/_mixins.scss",
        "source/bootstrap-v4/scss/_custom.scss",
        "source/bootstrap-v4/scss/_normalize.scss",
        "source/bootstrap-v4/scss/_reboot.scss",
        "source/bootstrap-v4/scss/mixins/_breakpoints.scss",
        "source/bootstrap-v4/scss/mixins/_hover.scss",
        "source/bootstrap-v4/scss/mixins/_image.scss",
        "source/bootstrap-v4/scss/mixins/_badge.scss",
        "source/bootstrap-v4/scss/mixins/_resize.scss",
        "source/bootstrap-v4/scss/mixins/_screen-reader.scss",
        "source/bootstrap-v4/scss/mixins/_size.scss",
        "source/bootstrap-v4/scss/mixins/_reset-text.scss",
        "source/bootstrap-v4/scss/mixins/_text-emphasis.scss",
        "source/bootstrap-v4/scss/mixins/_text-hide.scss",
        "source/bootstrap-v4/scss/mixins/_text-truncate.scss",
        "source/bootstrap-v4/scss/mixins/_transforms.scss",
        "source/bootstrap-v4/scss/mixins/_visibility.scss",
        "source/bootstrap-v4/scss/mixins/_alert.scss",
        "source/bootstrap-v4/scss/mixins/_buttons.scss",
        "source/bootstrap-v4/scss/mixins/_cards.scss",
        "source/bootstrap-v4/scss/mixins/_pagination.scss",
        "source/bootstrap-v4/scss/mixins/_lists.scss",
        "source/bootstrap-v4/scss/mixins/_list-group.scss",
        "source/bootstrap-v4/scss/mixins/_nav-divider.scss",
        "source/bootstrap-v4/scss/mixins/_forms.scss",
        "source/bootstrap-v4/scss/mixins/_table-row.scss",
        "source/bootstrap-v4/scss/mixins/_background-variant.scss",
        "source/bootstrap-v4/scss/mixins/_border-radius.scss",
        "source/bootstrap-v4/scss/mixins/_gradients.scss",
        "source/bootstrap-v4/scss/mixins/_clearfix.scss",
        "source/bootstrap-v4/scss/mixins/_navbar-align.scss",
        "source/bootstrap-v4/scss/mixins/_grid-framework.scss",
        "source/bootstrap-v4/scss/mixins/_grid.scss",
        "source/bootstrap-v4/scss/mixins/_float.scss",
        "source/bootstrap-v4/scss/bootstrap.scss",
        "source/bootstrap-v4/scss/_print.scss",
        "source/bootstrap-v4/scss/_type.scss",
        "source/bootstrap-v4/scss/_images.scss",
        "source/bootstrap-v4/scss/_code.scss",
        "source/bootstrap-v4/scss/_grid.scss",
        "source/bootstrap-v4/scss/_tables.scss",
        "source/bootstrap-v4/scss/_forms.scss",
        "source/bootstrap-v4/scss/_buttons.scss",
        "source/bootstrap-v4/scss/_transitions.scss",
        "source/bootstrap-v4/scss/_dropdown.scss",
        "source/bootstrap-v4/scss/_button-group.scss",
        "source/bootstrap-v4/scss/_input-group.scss",
        "source/bootstrap-v4/scss/_custom-forms.scss",
        "source/bootstrap-v4/scss/_nav.scss",
        "source/bootstrap-v4/scss/_navbar.scss",
        "source/bootstrap-v4/scss/_card.scss",
        "source/bootstrap-v4/scss/_breadcrumb.scss",
        "source/bootstrap-v4/scss/_pagination.scss",
        "source/bootstrap-v4/scss/_badge.scss",
        "source/bootstrap-v4/scss/_jumbotron.scss",
        "source/bootstrap-v4/scss/_alert.scss",
        "source/bootstrap-v4/scss/_progress.scss",
        "source/bootstrap-v4/scss/_media.scss",
        "source/bootstrap-v4/scss/_list-group.scss",
        "source/bootstrap-v4/scss/_responsive-embed.scss",
        "source/bootstrap-v4/scss/_close.scss",
        "source/bootstrap-v4/scss/_modal.scss",
        "source/bootstrap-v4/scss/_tooltip.scss",
        "source/bootstrap-v4/scss/_popover.scss",
        "source/bootstrap-v4/scss/_carousel.scss",
        "source/bootstrap-v4/scss/_utilities.scss",
        "source/bootstrap-v4/scss/utilities/_align.scss",
        "source/bootstrap-v4/scss/utilities/_background.scss",
        "source/bootstrap-v4/scss/utilities/_borders.scss",
        "source/bootstrap-v4/scss/utilities/_clearfix.scss",
        "source/bootstrap-v4/scss/utilities/_display.scss",
        "source/bootstrap-v4/scss/utilities/_flex.scss",
        "source/bootstrap-v4/scss/utilities/_float.scss",
        "source/bootstrap-v4/scss/utilities/_position.scss",
        "source/bootstrap-v4/scss/utilities/_screenreaders.scss",
        "source/bootstrap-v4/scss/utilities/_sizing.scss",
        "source/bootstrap-v4/scss/utilities/_spacing.scss",
        "source/bootstrap-v4/scss/utilities/_text.scss",
        "source/bootstrap-v4/scss/utilities/_visibility.scss"
      ]
    },
    {
      "path": "source/bootstrap-v4/scss/bootstrap.scss",
      "imports": [
        "source/bootstrap-v4/scss/_variables.scss",
        "source/bootstrap-v4/scss/_mixins.scss",
        "source/bootstrap-v4/scss/_custom.scss",
        "source/bootstrap-v4/scss/_normalize.scss",
        "source/bootstrap-v4/scss/_print.scss",
        "source/bootstrap-v4/scss/_reboot.scss",
        "source/bootstrap-v4/scss/_type.scss",
        "source/bootstrap-v4/scss/_images.scss",
        "source/bootstrap-v4/scss/_code.scss",
        "source/bootstrap-v4/scss/_grid.scss",
        "source/bootstrap-v4/scss/_tables.scss",
        "source/bootstrap-v4/scss/_forms.scss",
        "source/bootstrap-v4/scss/_buttons.scss",
        "source/bootstrap-v4/scss/_transitions.scss",
        "source/bootstrap-v4/scss/_dropdown.scss",
        "source/bootstrap-v4/scss/_button-group.scss",
        "source/bootstrap-v4/scss/_input-group.scss",
        "source/bootstrap-v4/scss/_custom-forms.scss",
        "source/bootstrap-v4/scss/_nav.scss",
        "source/bootstrap-v4/scss/_navbar.scss",
        "source/bootstrap-v4/scss/_card.scss",
        "source/bootstrap-v4/scss/_breadcrumb.scss",
        "source/bootstrap-v4/scss/_pagination.scss",
        "source/bootstrap-v4/scss/_badge.scss",
        "source/bootstrap-v4/scss/_jumbotron.scss",
        "source/bootstrap-v4/scss/_alert.scss",
        "source/bootstrap-v4/scss/_progress.scss",
        "source/bootstrap-v4/scss/_media.scss",
        "source/bootstrap-v4/scss/_list-group.scss",
        "source/bootstrap-v4/scss/_responsive-embed.scss",
        "source/bootstrap-v4/scss/_close.scss",
        "source/bootstrap-v4/scss/_modal.scss",
        "source/bootstrap-v4/scss/_tooltip.scss",
        "source/bootstrap-v4/scss/_popover.scss",
        "source/bootstrap-v4/scss/_carousel.scss",
        "source/bootstrap-v4/scss/_utilities.scss",
        "source/bootstrap-v4/scss/mixins/_breakpoints.scss",
        "source/bootstrap-v4/scss/mixins/_hover.scss",
        "source/bootstrap-v4/scss/mixins/_image.scss",
        "source/bootstrap-v4/scss/mixins/_badge.scss",
        "source/bootstrap-v4/scss/mixins/_resize.scss",
        "source/bootstrap-v4/scss/mixins/_screen-reader.scss",
        "source/bootstrap-v4/scss/mixins/_size.scss",
        "source/bootstrap-v4/scss/mixins/_reset-text.scss",
        "source/bootstrap-v4/scss/mixins/_text-emphasis.scss",
        "source/bootstrap-v4/scss/mixins/_text-hide.scss",
        "source/bootstrap-v4/scss/mixins/_text-truncate.scss",
        "source/bootstrap-v4/scss/mixins/_transforms.scss",
        "source/bootstrap-v4/scss/mixins/_visibility.scss",
        "source/bootstrap-v4/scss/mixins/_alert.scss",
        "source/bootstrap-v4/scss/mixins/_buttons.scss",
        "source/bootstrap-v4/scss/mixins/_cards.scss",
        "source/bootstrap-v4/scss/mixins/_pagination.scss",
        "source/bootstrap-v4/scss/mixins/_lists.scss",
        "source/bootstrap-v4/scss/mixins/_list-group.scss",
        "source/bootstrap-v4/scss/mixins/_nav-divider.scss",
        "source/bootstrap-v4/scss/mixins/_forms.scss",
        "source/bootstrap-v4/scss/mixins/_table-row.scss",
        "source/bootstrap-v4/scss/mixins/_background-variant.scss",
        "source/bootstrap-v4/scss/mixins/_border-radius.scss",
        "source/bootstrap-v4/scss/mixins/_gradients.scss",
        "source/bootstrap-v4/scss/mixins/_clearfix.scss",
        "source/bootstrap-v4/scss/mixins/_navbar-align.scss",
        "source/bootstrap-v4/scss/mixins/_grid-framework.scss",
        "source/bootstrap-v4/scss/mixins/_grid.scss",
        "source/bootstrap-v4/scss/mixins/_float.scss",
        "source/bootstrap-v4/scss/utilities/_align.scss",
        "source/bootstrap-v4/scss/utilities/_background.scss",
        "source/bootstrap-v4/scss/utilities/_borders.scss",
        "source/bootstrap-v4/scss/utilities/_clearfix.scss",
        "source/bootstrap-v4/scss/utilities/_display.scss",
        "source/bootstrap-v4/scss/utilities/_flex.scss",
        "source/bootstrap-v4/scss/utilities/_float.scss",
        "source/bootstrap-v4/scss/utilities/_position.scss",
        "source/bootstrap-v4/scss/utilities/_screenreaders.scss",
        "source/bootstrap-v4/scss/utilities/_sizing.scss",
        "source/bootstrap-v4/scss/utilities/_spacing.scss",
        "source/bootstrap-v4/scss/utilities/_text.scss",
        "source/bootstrap-v4/scss/utilities/_visibility.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"ruby-sass\",\"autoprefixer\",\"minify-css\",\"cssnext\"],\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":null}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}